p:last-child{
  margin: 0 0 1em;
}

.ui.positive.button{
  background-color: #b0d2d9;
}

#title{
  font-size: 150%;
  text-align: center;
}

.mainButton {
  text-align: center;
  margin-top: 7em;
}

.mainSearch {
  text-align: center;
  margin-top: 2em;
}

.ui.container.index {
  background-color: #E7EBE0FF;
}

.ui.pointing.menu {
  background-color: #ABD6DFFF;
}

.ui.icon.input {
  width: 80%;
  max-width: 300em;
}


#timer {
  font-size: 300%;
  text-align: center;
}

#doneTXT {
  font-size: 200%;
}

body {
  font:1em/1.4 sans-serif;
}
li {
  overflow: hidden;
  background: #E7EBE0FF;
  list-style: none;
  white-space:nowrap;
  margin-right: 10px;
  -radius: 25px;
  display: inline-block;
}
li {
  overflow: hidden;
  background: #E7EBE0FF;
  list-style: none;
  white-space:nowrap;
  margin-right: 10px;
  border-radius: 25px;
  display: inline-block;
}
  li a {
      opacity: 0;
      color: #666;
      max-width: 0;
      display: inline-block;
      text-decoration: none;
      transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color;
  }
      li a:hover {
          color: #c33;
      }
      li a i {
          float:right;
          display: block;
          padding-right: 1em;
          font:1em/1 'rokkitt', sans-serif;
      }
  li b {
      color: #c33;
      line-height:1;
      font-size: 25px;
      display: inline-block;
      padding:.125em .375em;
  }

      li:hover a {
          opacity: 1;
          max-width: 150px;
          transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color .2s;
      }
    #wrapper {
      padding-bottom: 15px;
      margin-bottom: 20px;
      display:flex;
      flex-direction: column;
      border-radius: 5px;
    }
    #wrapper div > div{
      overflow-wrap: break-word;
    }
    #personal_info {
        display:flex;
        margin: 0px 15px;
        padding-top: 10px;
    }
    div#personal_info span {
      color: #008B8B;
    }
    #working_experience {
        display:flex;
        margin: 0px 15px;
        padding-top: 10px;
    }
    #work_title{
      border-top: 2px solid #008b8b;
      width: 48%;
      font-weight: 600;
      border-radius: 3px 2px;
      margin-right: auto;
    }
    #personal_skills_title{
      border-top: 2px solid #008b8b;
      width: 48%;
      font-weight: 600;
      border-radius: 3px 2px;
      margin-right: auto;
    }
    #academic_title{
      border-top: 2px solid #008b8b;
      width: 48%;
      font-weight: 600;
      border-radius: 3px 2px;
      margin-right: auto;
    }
    #additional_info_title{
      border-top: 2px solid #008b8b;
      width: 48%;
      font-weight: 600;
      border-radius: 3px 2px;
      margin-right: auto;
    }

    #orgSkills{
      color: black;
    }
    #drivingLicense{
      color: black;
    }
    #oSkills{
      color: black;
    }
    #dSkills{
      color: black;
    }
    #additional_info{
      margin: 0px 15px;
    }
    #compSkills{
      color: black;
    }
    #academic_experience{
      padding-top: 10px;
      display:flex;
      margin: 0px 15px;
    }
    #personal_skills_container{
      width: 50%;
      display:flex;
      flex-direction: column;
    }
    #additional_info_container{
      width: 50%;
      display:flex;
      flex-direction: column;
    }
    #work_container{
      width: 50%;
      display:flex;
      flex-direction: column;
    }
    #academic_container{
      width: 50%;
      display:flex;
      flex-direction: column;
    }
    #personal_skills{
      padding-top: 10px;
      display:flex;
      margin: 0px 15px;
    }
    #additional_info{
      padding-top: 10px;
      display:flex;
    }
    #pers_tags{
      border-top: 2px solid #008b8b;
      width: 48%;
      font-weight: 600;
      border-radius: 3px 2px;
      margin-right: auto;
    }
    #pers_inf{
      width:50%;
    }
    .UserCVContainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 5px;
    }
    .myDiv{
      width: 24%;
      padding: 10px;
      margin: 5px 0px;
    }
    .myDiv label{
      padding: 0 3px;
    }
    .myDiv:hover{
      background-color: rgba(171, 214, 223, 1);
      -radius: 10px;
      cursor: pointer;
    }
    .itemBox{
      display: flex;
      align-items: center;
    }
