doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title Home
    link(rel='stylesheet', type='text/css', href='semantic/dist/semantic.min.css')
    link(rel='stylesheet', type='text/css', href='style.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='semantic/dist/semantic.min.js')
    script(type='text/javascript', src='node_modules/semantic-ui-calendar/dist/calendar.min.js')
    link(rel='stylesheet', href='node_modules/semantic-ui-calendar/dist/calendar.min.css')
  body
    .ui.container.index
      .ui.pointing.menu
        ul
          li
            b +
            a(href='form.html')
              i Upload your CV
      .mainButton
        .ui.massive.buttons.home
          button.ui.button(type='button', name='sortByStudents' onclick="sortByStudents()") Students
          .or
          button.ui.positive.button(type='button', name='sortByProfessors' onclick="sortByProfessors()") Professors
      .mainSearch
        .ui.huge.search
          .ui.icon.input
              input.prompt(type='text', id="fname", onkeyup="search()", placeholder="Search by person's name, skills, status...")
              i.search.icon
          .results
      .ui.hidden.divider
      div(class="UserCVContainer")
        - var count = 0;
        each n in message
          div(class="myDiv")
            form(class="itemBox" name='CVPicker' action='/dynamic' id="form_id_" + count onclick="submit(event.target.getAttribute('id'))" method='post' target="_blank")
              .item
                .content
                if n.academicStatus.includes("student") 
                  img.ui.tiny.avatar.image(src='pics/student.png', align="center")
                else
                  img.ui.tiny.avatar.image(src='pics/professor.png', align="center")
              div
                div
                  label(style="font-size:75%")= n.firstName
                  input(type="hidden" name="firstName" value=n.firstName)
                  label(style="font-size:75%")= n.lastName
                div
                  label#status(style="font-size:75%")= n.academicStatus
                  - count = count + 1;
        script(type='text/javascript').
          
          //This function is triggered when the students button is clicked
          //and sorts the list so only studens are visible
          function sortByStudents() {
            table = document.getElementById("myTable");
            tr = document.getElementsByTagName("tr");
            
            for (var i = 0; i < tr.length; ++i) {
              th = tr[i].getElementsByTagName("th")[0];
              txtValue = th.textContent || th.innerText;
              if (txtValue.includes("professor"))
                tr[i].style.display = "none";
            }
          }
          
          //This function is triggered when the professors button is clicked
          //and sorts the list so only professors are visible
          function sortByProfessors() {
            table = document.getElementById("myTable");
            tr = document.getElementsByTagName("tr");
            
            for (var i = 0; i < tr.length; ++i) {
              th = tr[i].getElementsByTagName("th")[0];
              txtValue = th.textContent || th.innerText;
              if (txtValue.includes("student"))
                tr[i].style.display = "none";
            }
          }
          function submit(count){
            document.getElementById(count).submit();
          }
          function search() {
            // Declare variables
            var input, div, filter, i, txtValue, name;
            input = document.getElementById("fname");
            div = document.querySelectorAll(".myDiv");
            filter = input.value.toUpperCase();
            name = document.getElementsByName("firstName");
            console.log(div.length);
            console.log(filter);
            for(var i = 0; i < div.length; i++){
              if(name[i].value.toUpperCase().indexOf(filter) > -1){
                div[i].style.display="";
              }
              else{
                div[i].style.display="none";
              }
            }
       

            //console.log(name[0].value);
            //- div.forEach(function(item){
            //-   if(item){


            //-   }
            //- })

            //- for (i= 0; i < tr.length;i++) {
            //-   th = tr[i].getElementsByTagName("th")[0];
            //-   if(th) {
                
            //-     txtValue = th.textContent || th.innerText;
            //-     if(txtValue.toUpperCase().indexOf(filter) > -1) {
            //-       tr[i].style.display = "";
            //-     } else {
                  
            //-       tr[i].style.display = "none";
          }
          