doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title Home
    link(rel='stylesheet', type='text/css', href='semantic/dist/semantic.min.css')
    link(rel='stylesheet', type='text/css', href='style.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='semantic/dist/semantic.min.js')
    script(type='text/javascript', src='node_modules/semantic-ui-calendar/dist/calendar.min.js')
    link(rel='stylesheet', href='node_modules/semantic-ui-calendar/dist/calendar.min.css')
  body
    .ui.container.index
      .ui.pointing.menu
        ul
          li
            b +
            a(href='form.html')
              i Upload your CV
      .mainButton
        .ui.massive.buttons.home
          button.ui.button Students
          .or
          button.ui.positive.button Professors
      .mainSearch
        .ui.huge.search
          .ui.icon.input
              input.prompt(type='text', id="fname", onkeyup="search()", placeholder="Search by person's name, skills, status...")
              i.search.icon
          .results
      .ui.hidden.divider
      .ui.horizontal.list
      table(id="myTable", style='width:100%', border='1')
        each n in message
          tr
            th
              .item
                if n.academicStatus.includes("student") 
                  img.ui.tiny.avatar.image(src='pics/student.png')
                else
                  img.ui.tiny.avatar.image(src='pics/professor.png')
                .content
                  .h1= n.firstName
                  .h1= n.lastName 
        script.
          function search() {
            // Declare variables
            var input, filter, table, tr, th, i, txtValue;
            input = document.getElementById("fname");
            table = document.getElementById("myTable");
            tr = document.getElementsByTagName("tr");
            filter = input.value.toUpperCase();
            
            for (i= 0; i < tr.length;i++){
              th = tr[i].getElementsByTagName("th")[0];
              if(th){
                
                txtValue = th.textContent || th.innerText;
                if(txtValue.toUpperCase().indexOf(filter) > -1){
                  tr[i].style.display = "";
                } else {
                  
                  tr[i].style.display = "none";
                }
              }
            }
<<<<<<< HEAD
          }
=======
          }
>>>>>>> f01d7241766dacb7f3b6fe6a0fb7ca723a414a9b
